main {
    background-color: #082740;
    min-height: 450px;
    padding-left: 20px;
}

#imageAnime{
    width: 400px;
    height: 500px;
}
.infoAnime{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.Anime{
	background-color: #082740;
	color:white;


}

.Anime h1 {
    font-size: 32px;

}


.Anime h2 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
   
}

.Anime h3 {
    padding-top: 10px;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
}

.ListeCom {
    border: 1px solid black;
    padding: 10px;
    margin-left: 10px;

}

.commentaire {
    border: 1px solid black;
    margin: 10px;
}

.headerCommentaire { 
    padding-left: 25px;
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: bold;
}
.headerCommentaire a {
    font-size: 14px;
    text-decoration: none;
    color : red;
    position : relative;
    left: 1650px;
}


.commentaire p {
    padding-left: 10px;
}

.DivDate p{
    float:right;
    position: relative;
    top : -20px;
}

.synAnime {

font-size: 14px;
  

}


.test a{

font-size: 18px;
color : red;
text-decoration: none;

}

.Formulaire {
    width: 33%;
    height: 33%;
    background-color: lightgray;
    border-radius: 40px;
    padding: 3%;
    text-align: center;
    margin-left: 550px;
    position : relative;
    top : 20px;
}

.Formulaire form {
    color : black;
    font-size: 1.2em;
}

.Formulaire input {
    width: 100%;
    margin: 5px;
}

.FormulaireImage input{
    margin-top: 5px;
    width : 250px;
}


/*
*/

@media all and (max-width: 400px) {

    nav {
        width : 320%;
    }

    .gauche {
        position: relative;
        right : 60px;
    }
    .gauche a {
        font-size: 1.5em;
    }
    footer {
        width : 320%;
    }
    main {
        width : 1210px;
    }
    .droite {
        margin-left: 800px;
    }
    footer {
        margin-top: -15px;
    }
    .headerCommentaire a {
        position : relative;
        left: 800px;
    }
    .ListeCom {
        width : 1000px;

    }
}