header {
	width : 100%;
	background-color: #6A7181;
	height : 47px;
}

nav {
	width : 100%;
	background-color: #6A7181;
}

.gauche a {
	color : white;
	padding-right : 80px;
	font-size: 1.2em;
	text-decoration: none;
	position : relative;
	left : 210px;
}

.add {
	width : 110px;
	position : relative;
	right : 50px;
}

.droite {
	margin-left: 1500px;
	position : relative;
	top : -30px;
}

.log {
	width : 120px;
	height : 40px;
}

footer {
	background-color: #6A7181;
	width : 75%;
	height : 100px;
	position : relative;
	top : 720px;
}

footer input{
	margin-left: 20px;
	height : 40px;
	position : relative;
	top : 30px;
}

footer p {
	margin-left: 700px;
	padding-top: 20px;
	text-transform: uppercase;
}