main {
	padding : 20px;
	background-color: #082740;
	min-height: 300px;
}

h1 {
	background-color: rgb(225,231,245);
}

.Anime {
	width : 550px;
	border: solid 2px black;
	background-color: white;
	margin-left: 300px;
	position : relative;
	top : 0px;
}

.Anime h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.Anime a {
	text-decoration: none;
	width : 50px;
	color : black;
	font-size: 1.2em;
}

.Anime h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.Ami{
	border: solid 2px black;
	width : 500px;
	margin-left: 900px;
	position : absolute;
	top : 188px;
	background-color: white;
}

.Ami h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Ami a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.Ami h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivMyAnime {
	width : 550px;
	border: solid 2px black;
	background-color: white;
	margin-left: 300px;
	position : relative;
	top : 0px;
}
.DivMyAnime h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.DivMyAnime a {
	text-decoration: none;
	width : 50px;
	color : black;
	font-size: 1.2em;
}

.DivMyAnime h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivMyAmi {
	border: solid 2px black;
	width : 500px;
	margin-left: 900px;
	position : absolute;
	top : 188px;
	background-color: white;

}
.DivMyAmi h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.DivMyAmi a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.DivMyAmi h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}
#imageAnime {
	width : 80px;
	margin-left : 235px;
	position : relative;
	top : 20px;
}
.DivAnime {
	border: solid 1px black;
	min-height : 75px;
	background-color: white;
}

.DivAnime:hover {
	background-color: #FFDEBF;
}

.DivAmi {
	border: solid 1px black;
	min-height : 75px;
	background-color: white;
}

.DivAmi:hover {
	background-color: #FFDEBF;
}

.DivAmiMess a:hover {
	color : red;
}

.DivAmiMess {
	margin-left: 175px;
	position : relative;
	top : -10px;
}
#PhotoProfil{
	width : 80px;
	margin-top: -5px;
	position : relative;
	top : 15px;
	left : 210px;
}

.AjouterAmi {
	margin-left: 300px;
	position : absolute;
	top : 135px;
}

.AjouterAmi a{
	text-decoration: none;
	color : red;
	font-size: 1.5em;
    font-weight: bold;
}

#Photo {
	width : 250px;
	position : absolute;
	top : 200px;
}