main {
	padding : 20px;
	background-color: #082740;
	min-height: 300px;
}

h1 {
	background-color: rgb(225,231,245);
}

.Anime {
	width : 500px;
	border: solid 2px black;
	background-color: white;
	margin-left: 270px;
	position : relative;
	top : 0px;
}

.Anime h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.Anime a {
	text-decoration: none;
	width : 50px;
	color : black;
	font-size: 1.2em;
}

.Anime h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivAnime img {
	position : relative;
	right : 25px;
}

.Ami{
	border: solid 2px black;
	width : 500px;
	margin-left: 800px;
	position : absolute;
	top : 188px;
	background-color: white;
}

.Ami h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Ami a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.Ami h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivMyAnime {
	width : 500px;
	border: solid 2px black;
	background-color: white;
	margin-left: 280px;
	position : relative;
	top : 0px;
}
.DivMyAnime h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.DivMyAnime a {
	text-decoration: none;
	width : 50px;
	color : black;
	font-size: 1.2em;
}

.DivMyAnime h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivMyAmi {
	border: solid 2px black;
	width : 500px;
	margin-left: 800px;
	position : absolute;
	top : 188px;
	background-color: white;

}
.DivMyAmi h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.DivMyAmi a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.DivMyAmi h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}
#imageAnime {
	width : 80px;
	margin-left : 235px;
	position : relative;
	top : 20px;
}
.DivAnime {
	border: solid 1px black;
	min-height : 75px;
	background-color: white;
}

.DivAnime:hover {
	background-color: #FFDEBF;
}

.DivAmi {
	border: solid 1px black;
	min-height : 75px;
	background-color: white;
}

.DivAmi:hover {
	background-color: #FFDEBF;
}

.DivAmiMess a:hover {
	color : red;
}

.DivAmiMess {
	margin-left: 175px;
	position : relative;
	top : -10px;
}
#PhotoProfil{
	width : 80px;
	margin-top: -5px;
	position : relative;
	top : 15px;
	left : 210px;
}

.AjouterAmi {
	margin-left: 300px;
	position : absolute;
	top : 135px;
}

.AjouterAmi a{
	text-decoration: none;
	color : red;
	font-size: 1.5em;
    font-weight: bold;
}

#Photo {
	width : 250px;
	position : absolute;
	top : 200px;
}

.DivMyClub {
	border: solid 2px black;
	width : 500px;
	margin-left: 1320px;
	position : absolute;
	top : 188px;
	background-color: white;

}
.DivMyClub h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.DivMyClub a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.DivMyClub h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.DivClub {
	border: solid 1px black;
	min-height : 75px;
	background-color: white;
}

.DivClub:hover {
	background-color: #FFDEBF;
}

.DivClub img {
	position : relative;
	right : 25px;
}

.Club{
	border: solid 2px black;
	width : 500px;
	margin-left: 1320px;
	background-color: white;
	position : absolute;
	top : 188px;
}

.Club h2{
	border: solid 2px black;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Club a {
	text-decoration: none;
	color : black;
	font-size: 1.1em;

}

.Club h4 {
	display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
	top : 20px;
}

.Mess {
	width: 60%;
    background-color: lightgray;
    border-radius: 40px;
    padding: 3%;
    margin-left: 270px;
    font-size: 1.1em;
}

.form-commentaire textarea{
	width : 50%;
	height : 75px;
	margin-top: 100px;
	border-radius: 10px;
	margin-left: 250px;
}

.form-commentaire input {
	margin-left : 830px;
	margin-top: -50px;
	width  : 200px;
	border-radius: 2px;
}

.Lautre {
	position : relative;
	left : 880px;
}

.DivContenu{
	font-size: 1.1em;
}

.Mess p{
	width : 200px;
}

/*
*/

@media all and (max-width: 400px) {

    main {
        width : 1900px;
    }
    nav {
    	min-width : 505%;
    }
    footer {
    	min-width : 505%;
    }

    .droite {
    	position : relative;
    	left : 500px;
    }

    .AjouterAmi {
    	width : 300px;
    }

    .Mess {
    	margin-left: 30px;
    }

    .form-commentaire textarea{
		margin-left: 100px;
	}

	.form-commentaire input {
		margin-left : 600px;
	}

	.Lautre {
		position : relative;
		left : 700px;
	}
}