.block{
    border: solid 2px #4f9db7;
    background-color: #dbf5f9;
    padding:10px 10px 0px 10px;
}
.block>a>div{
    border: solid 2px #4f9db7;
    background-color: #96e2fc;
    margin-bottom:10px;
    padding:5px;
}
.block>a>div:hover{
    color: white;
    border: solid 4px #96e2fc;
    background-color: #4f9db7;
}
.block>a>div>img{
    margin-top:-8.5%;
    width: 100px;
    height: 125px;
}
.block>a>div>div{
    display: inline-block;
}