main {
	background-color: #082740;
	min-height: 400px;
}
.FormCommentaires {
	padding : 30px;
	margin-left: 300px;
	color : white;
}
.FormCommentaires textarea {
	min-height: 120px;
	min-width: 350px;
}
.PosterCommentaire {
	margin-left: 1000px;
	padding : 20px;
	margin-top: -90px;
}

.PosterCommentaire textarea{
	width : 500px;
	height : 150px;
}

.PosterCommentaire input{
	margin-top: 20px;
	margin-left: 220px;
}

.NombreAdherent {
	border: solid 3px white;
	width : 190px;
	margin-top: 30px;
	padding : 10px;
	height : 70px;
	text-align: center;
}

.NombreAdherent p{
	color : white;
	font-size : 1.3em;
}

.Rejoindre {
	position : absolute;
	top : 200px;
	left : 1500px;
}

.headerCommentaires {
	font-size: 18px;
	color : white;
	border: solid 1px black;
	border-bottom: 1px solid black;
	margin-top: 20px;
}

.Commentaires {
	width : 1200px;
	border: solid 1px black;
}

.Commentaires p {
	font-size: 1.3em;
	color : white;
	padding : 5px;
}

.ListeCommentaires {
	margin-left: 80px;
}

.headerCommentaires a {
    font-size: 18px;
    padding: 2px;
    text-decoration: none;
    color : red;
    position : relative;
    left: 1050px;
}

.DivDate {
	float: right;
}

.DivDate p{
	font-size: 1em;
	position : relative;
	top : -55px;
}

.DivUtilisateurs {
	position: relative;
	top : 20px;
	right: 12px;
	border: solid 3px white;
	width : 190px;
	padding : 10px;
	color : white;
	text-align: center;
}

.DivUtilisateurs a {
	color : red;
	text-decoration: none;
	margin : 10px;
}

.DivUtilisateursBan a {
	position: relative;
	left : 130px;
	top : -15px;
}

.Suppr {
	margin-left: 1465px;
	position: absolute;
	top : 160px;
}
.Suppr a{
	text-decoration: none;
	color : red;
	font-size: 1.3em;
}

.Modif{
	margin-left: 1535px;
	position: absolute;
	top : 130px;
}
.Modif a{
	text-decoration: none;
	color : red;
	font-size: 1.3em;
}

.Image {
	position: absolute;
	top : 130px;
	left : 90px;
}
.Image img{
	width : 180px;
}

.Formulaire {
    width: 33%;
    height: 33%;
    background-color: lightgray;
    border-radius: 40px;
    padding: 3%;
    text-align: center;
    margin-left: 550px;
    position : relative;
    top : 50px;
}

.Formulaire form {
	color : black;
	font-size: 1.2em;
}

.Formulaire input {
    width: 100%;
    margin: 5px;
}

.FormulaireImage input{
	margin-top: 5px;
	width : 250px;
}



/*
*/

@media all and (max-width: 400px) {

    main {
        width : 1560px;
    }
    nav {
    	width : 405%;
    }
    footer {
    	width : 405%;
    }

    .droite {
    	margin-left: 1000px;
    }
    .Rejoindre {
    	width : 300px;
    	position: absolute;
    	left : 1100px;
    	top : 220px;
    }

    .Commentaires {
    	width : 750px;
    }

    .Suppr {
		width : 300px;
		position: relative;
		top : 20px;
		left : -400px;
	}

	.Modif {
		width : 300px;
		position: relative;
		top : 40px;
		left : -400px;
	}
	.headerCommentaires a {
		position : relative;
		left : 550px;
	}
}