.block{
    background-color: #082740;
    padding:20px 20px 20px 20px;
}
.block>a>div{
    background-color: white;
    padding : 20px;
    width : 1200px;
}
.block>a>div:hover{
    color: #E99D34;
    border: solid 0px #96e2fc;
    background-color: #FFDEBF;
}
.block>a>div>img{
    width: 125px;
    height: 150px;
}
.col-9 {
    color : black;
    text-decoration: none;
}
.haut {
    margin-right: 595px;
    margin-top: -8px;
    width :1180px;

}

.bas {
    margin-top: 8px;
    margin-right: 600px;
    width :1250px;
}

.block p {
    color : white;
    font-size: 1.3em;
    position: relative;
    top : 25px;
}
/*.block>a>div>div{
    display: inline-block;
}*/